.light-theme {
  background-color: #f3f4f6;
  color: #111827;

  min-height: 100vh;

  transition: 0.3s;
}
body {
  transition: 0.3s;
}
.light-theme,
.dark-theme {
  min-height: 100vh;
}
.dark-theme {
  background-color: #111827;
  color: white;

  min-height: 100vh;

  transition: 0.3s;
}

/* NAVBAR */

.dark-theme .navbar {
  background-color: #030712;
}

.light-theme .navbar {
  background-color: #111827;
}

/* CARDS */

.dark-theme .movie-card,
.dark-theme .movie-details-card,
.dark-theme .watchlist-card,
.dark-theme .feature-card {
  background-color: #1f2937;
  color: white;
}

/* TEXT */

.dark-theme p,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  color: white;
}

/* INPUTS */

.dark-theme input,
.dark-theme select {
  background-color: #374151;
  color: white;
  border: 1px solid #4b5563;
}
.dark-theme .about-card {
  background-color: #1f2937;
  color: white;
}

.dark-theme .about-card p,
.dark-theme .about-card li,
.dark-theme .about-card h1 {
  color: white;
}