* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 40px;
}

.logo h2 {
  font-size: 28px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: white;
  text-decoration: none;

  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #facc15;
}

.active-link {
  color: #facc15 !important;
  font-weight: bold;
}
.theme-btn {
  padding: 10px 16px;

  border: none;
  border-radius: 8px;

  background-color: #facc15;
  color: black;

  cursor: pointer;

  font-weight: bold;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;

    gap: 20px;

    padding: 20px;
  }

  .nav-links {
    flex-wrap: wrap;

    justify-content: center;

    gap: 16px;
  }

  .logo h2 {
    font-size: 24px;
  }

}